label {
    color: white;
}

.img-small {
    width: auto;
    height: 6rem;
}

.img-zoom {
    transition: all 0.2s;
}

.img-zoom:hover {
    transform: scale(3) translate(35%, 35%);
}

.seats button {
    font-size: 0.7rem;
    width: 3.5rem;
    height: auto;
}
